<div role="main" class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12 center">
        <h1 class="mt-xlg mb-sm pt-md">Food <strong>&amp; </strong> Drink</h1>
        <p class="font-size-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>

        <hr class="custom-divider">
      </div>
    </div>
  </div>

  <section class="section section-default">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          
          <div class="tabs tabs-bottom tabs-center tabs-simple">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#tabsNavigationSimple1" data-toggle="tab">Lunch</a>
              </li>
              <li>
                <a href="#tabsNavigationSimple2" data-toggle="tab">Dinner</a>
              </li>
              <li>
                <a href="#tabsNavigationSimple3" data-toggle="tab">Drinks</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tabsNavigationSimple1">
                <div class="row">
                  <div class="col-md-12 center">
                    <h4 class="menu-title">STARTERS</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$9</span>
                      <h4>Consectetur Adipiscing</h4>
                      <p>Lorem, ipsum sit, amet.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$10</span>
                      <h4>Adipiscing</h4>
                      <p>Lorem, dolor sit, amet.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$12</span>
                      <h4>Pulvinar Magna</h4>
                      <p>Lorem, ipsum, dolor sit.</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 center">
                    <h4 class="menu-title">APPETIZERS</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$8</span>
                      <h4>Feugiat Nibh</h4>
                      <p>Lorem, ipsum, dolor sit, amet.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$9</span>
                      <h4>Feugiat</h4>
                      <p>Lorem, ipsum, dolor sit, amet.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$12</span>
                      <h4>Nibh</h4>
                      <p>Lorem, ipsum, dolor sit, amet.</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 center">
                    <h4 class="menu-title">MAINS</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$18</span>
                      <h4>Vestibulum</h4>
                      <p>Ipsum, dolor sit, amet.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$20</span>
                      <h4>Curabitur Pellentesque</h4>
                      <p>Lorem, ipsum sit, amet.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$23</span>
                      <h4>Pellentesque</h4>
                      <p>Lorem, dolor sit, amet.</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 center">
                    <h4 class="menu-title">DESSERT</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$9</span>
                      <h4>Sit Folor</h4>
                      <p>Folor sit, amet.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$10</span>
                      <h4>Color</h4>
                      <p>Color sit, amet.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$12</span>
                      <h4>Light Amet</h4>
                      <p>Amet.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tabsNavigationSimple2">
                <div class="row">
                  <div class="col-md-12 center">
                    <h4 class="menu-title">STARTERS</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$5</span>
                      <h4>Lorem Ipsum</h4>
                      <p>Lorem, ipsum, dolor sit, amet.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$7</span>
                      <h4>Dolor Sit</h4>
                      <p>Lorem, ipsum, dolor sit.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$8</span>
                      <h4>Amet</h4>
                      <p>Lorem, ipsum sit, amet.</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$9</span>
                      <h4>Consectetur Adipiscing</h4>
                      <p>Lorem, ipsum sit, amet.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$10</span>
                      <h4>Adipiscing</h4>
                      <p>Lorem, dolor sit, amet.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$12</span>
                      <h4>Pulvinar Magna</h4>
                      <p>Lorem, ipsum, dolor sit.</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 center">
                    <h4 class="menu-title">APPETIZERS</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$8</span>
                      <h4>Feugiat Nibh</h4>
                      <p>Lorem, ipsum, dolor sit, amet.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$9</span>
                      <h4>Feugiat</h4>
                      <p>Lorem, ipsum, dolor sit, amet.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$12</span>
                      <h4>Nibh</h4>
                      <p>Lorem, ipsum, dolor sit, amet.</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 center">
                    <h4 class="menu-title">ENTREES</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$18</span>
                      <h4>Vestibulum</h4>
                      <p>Ipsum, dolor sit, amet.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$20</span>
                      <h4>Curabitur Pellentesque</h4>
                      <p>Lorem, ipsum sit, amet.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$23</span>
                      <h4>Pellentesque</h4>
                      <p>Lorem, dolor sit, amet.</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 center">
                    <h4 class="menu-title">DESSERT</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$9</span>
                      <h4>Sit Folor</h4>
                      <p>Folor sit, amet.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$10</span>
                      <h4>Color</h4>
                      <p>Color sit, amet.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$12</span>
                      <h4>Light Amet</h4>
                      <p>Amet.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tabsNavigationSimple3">
                <div class="row">
                  <div class="col-md-12 center">
                    <h4 class="menu-title">COCKTAILS</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$9</span>
                      <h4>Consectetur Adipiscing</h4>
                      <p>Lorem, ipsum sit, amet.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$10</span>
                      <h4>Adipiscing</h4>
                      <p>Lorem, dolor sit, amet.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$12</span>
                      <h4>Pulvinar Magna</h4>
                      <p>Lorem, ipsum, dolor sit.</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 center">
                    <h4 class="menu-title">BEER</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$8</span>
                      <h4>Feugiat Nibh</h4>
                      <p>Lorem, ipsum, dolor sit, amet.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$9</span>
                      <h4>Feugiat</h4>
                      <p>Lorem, ipsum, dolor sit, amet.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$12</span>
                      <h4>Nibh</h4>
                      <p>Lorem, ipsum, dolor sit, amet.</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 center">
                    <h4 class="menu-title">WINE</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$8</span>
                      <h4>Feugiat Nibh</h4>
                      <p>Lorem, ipsum, dolor sit, amet.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$9</span>
                      <h4>Feugiat</h4>
                      <p>Lorem, ipsum, dolor sit, amet.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="menu-item">
                      <span class="menu-item-price">$12</span>
                      <h4>Nibh</h4>
                      <p>Lorem, ipsum, dolor sit, amet.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <%= render 'partials/home/special_menu', show_button: false %>

</div>
