        <section class="p-xlg">
          <div class="container">
            <div class="row mb-xlg">
              <div class="col-md-12 center">
                <h4 class="mt-lg mb-sm">Our <strong>Gallery</strong></h4>
                <p>den ausblick und den augenblick geniessen - essen,trinken und glücklich sein in naturnaher atmosphäre.</p>

                <hr class="custom-divider">

                <div class="lightbox" data-plugin-options='{"delegate": "a", "type": "image", "gallery": {"enabled": true}}'>
                  <div class="masonry" data-plugin-masonry data-plugin-options='{"itemSelector": ".masonry-item"}'>

                  <% fields.each_with_index do |image, idx| %>

                    <div class="masonry-item <%= "w2" if idx == 1 %>">
                      <span class="thumb-info thumb-info-centered-icons thumb-info-no-borders">
                        <span class="thumb-info-wrapper">
                          <img src="<%= image %>" class="img-responsive" alt="">
                          <span class="thumb-info-action thumb-info-action-custom">
                            <a href="<%= image %>">
                              <span class="thumb-info-icon-custom"></span>
                            </a>
                          </span>
                        </span>
                      </span>
                    </div>

                  <% end %>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

