              <section class="section section-tertiary section-no-border match-height mt-none">
                <div class="row">
                  <div class="col-half-section">
                    <div class="center">
                      <h4 class="mt-none mb-none heading-dark">Our <strong>Team</strong></h4>
                      <p class="mb-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>

                      <hr class="custom-divider m-none">
                    </div>

                    <div class="owl-carousel owl-theme show-nav-title mt-xlg mb-none" data-plugin-options='{"responsive": {"0": {"items": 1}, "479": {"items": 1}, "768": {"items": 2}, "979": {"items": 2}, "1199": {"items": 2}}, "margin": 10, "loop": false, "nav": true, "dots": false}'>

                    <% fields.each do |field| %>

                      <div>
                        <span class="thumb-info thumb-info-no-zoom thumb-info-no-borders mb-xl">
                          <span class="thumb-info-side-image-wrapper p-none">
                            <img src="<%= field[:picture] %>" class="img-responsive" alt="">
                          </span>
                          <span class="thumb-info-caption">
                            <span class="thumb-info-caption-text thumb-info-caption-text-custom center">
                              <h4 class="text-semibold mb-none mt-xs heading-dark"><%= field[:name] %></h4>
                              <p class="font-size-md p-none m-none mb-sm"><%= field[:about] %></p>
                            </span>
                          </span>
                        </span>
                      </div>

                    <% end %>

                    </div>
                  </div>
                </div>
              </section>

