/* Add here all your CSS customizations */

/*div.main {
  padding-bottom:25px
}*/

div.header-logo {
  a {
    div.text {
      font-size: 1.9em; 
      background: maroon; 
      padding: 13px;
      opacity: 0.75;

      span.text-1 {
        color: #ddd;
        font-weight: lighter;
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #a9b508;
}

p, li, label {
  color: #64341d;
}
