/* Add here all your CSS customizations */

/*div.main {
  padding-bottom:25px
}*/

div.header-logo {
  a {
    div.text {
      font-size: 1.9em; 
      background: maroon; 
      padding: 13px;
      opacity: 0.75;

      span.text-1 {
        color: #ddd;
        font-weight: lighter;
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #a9b508;
}

p, li, label {
  color: #64341d;
}

.testimonial {
  .testimonial-author strong {
    color: #838d06;
  }
  .testimonial-author span {
    color: #64341d;
  }
}

.testimonial.testimonial-style-2 blockquote p {
  color: #64341d;
}
.testimonial.testimonial-with-quotes {
  blockquote::before,
  blockquote::after {
    color: #64341d;
  }
}
