        <section class="p-xlg">
          <div class="container">
            <div class="row mb-xlg">
              <div class="col-md-12 center">
                <h4 class="mt-lg mb-sm">Our <strong>Gallery</strong></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>

                <hr class="custom-divider">

                <div class="lightbox" data-plugin-options='{"delegate": "a", "type": "image", "gallery": {"enabled": true}}'>
                  <div class="masonry" data-plugin-masonry data-plugin-options='{"itemSelector": ".masonry-item"}'>
                    <div class="masonry-item">
                      <span class="thumb-info thumb-info-centered-icons thumb-info-no-borders">
                        <span class="thumb-info-wrapper">
                          <img src="media/1/restaurant_gallery_1.jpg" class="img-responsive" alt="">
                          <span class="thumb-info-action thumb-info-action-custom">
                            <a href="media/1/restaurant_gallery_1.jpg">
                              <span class="thumb-info-icon-custom"></span>
                            </a>
                          </span>
                        </span>
                      </span>
                    </div>
                    <div class="masonry-item w2">
                      <span class="thumb-info thumb-info-centered-icons thumb-info-no-borders">
                        <span class="thumb-info-wrapper">
                          <img src="media/1/restaurant_gallery_2.jpg" class="img-responsive" alt="">
                          <span class="thumb-info-action thumb-info-action-custom">
                            <a href="media/1/restaurant_gallery_2.jpg">
                              <span class="thumb-info-icon-custom"></span>
                            </a>
                          </span>
                        </span>
                      </span>
                    </div>
                    <div class="masonry-item">
                      <span class="thumb-info thumb-info-centered-icons thumb-info-no-borders">
                        <span class="thumb-info-wrapper">
                          <img src="media/1/restaurant_gallery_4.jpg" class="img-responsive" alt="">
                          <span class="thumb-info-action thumb-info-action-custom">
                            <a href="media/1/restaurant_gallery_4.jpg">
                              <span class="thumb-info-icon-custom"></span>
                            </a>
                          </span>
                        </span>
                      </span>
                    </div>
                    <div class="masonry-item">
                      <span class="thumb-info thumb-info-centered-icons thumb-info-no-borders">
                        <span class="thumb-info-wrapper">
                          <img src="media/1/restaurant_gallery_3.jpg" class="img-responsive" alt="">
                          <span class="thumb-info-action thumb-info-action-custom">
                            <a href="media/1/restaurant_gallery_3.jpg">
                              <span class="thumb-info-icon-custom"></span>
                            </a>
                          </span>
                        </span>
                      </span>
                    </div>
                    <div class="masonry-item">
                      <span class="thumb-info thumb-info-centered-icons thumb-info-no-borders">
                        <span class="thumb-info-wrapper">
                          <img src="media/1/restaurant_gallery_5.jpg" class="img-responsive" alt="">
                          <span class="thumb-info-action thumb-info-action-custom">
                            <a href="media/1/restaurant_gallery_5.jpg">
                              <span class="thumb-info-icon-custom"></span>
                            </a>
                          </span>
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

