              <section class="section section-quaternary section-no-border match-height mt-none">
                <div class="row">
                  <div class="col-half-section col-half-section-right">
                    <div class="center">
                      <h4 class="mt-none mb-none heading-dark">Our <strong>Blog</strong></h4>
                      <p class="mb-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>

                      <hr class="custom-divider m-none">
                    </div>
                    
                    <div class="owl-carousel owl-theme show-nav-title mt-xlg mb-none" data-plugin-options='{"items": 1, "margin": 10, "loop": true, "nav": true, "dots": false, "autoplay": true, "autoplayTimeout": 4000}'>
                      <div>
                        <span class="thumb-info thumb-info-side-image thumb-info-no-zoom thumb-info-no-borders thumb-info-blog-custom mb-xl">
                          <span class="thumb-info-side-image-wrapper p-none">
                            <img src="media/1/blog_restaurant_4.jpg" class="img-responsive" alt="" style="width: 165px;">
                          </span>
                          <span class="thumb-info-caption">
                            <span class="thumb-info-caption-text">
                              <h4 class="text-semibold mb-none mt-xs heading-dark">Lorem ipsum dolor sit</h4>
                              <p class="font-size-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Lorem ipsum dolor sit...</p>
                              <a class="mt-md" href="demo-restaurant-press-detail.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                            </span>
                          </span>
                        </span>

                        <span class="thumb-info thumb-info-side-image thumb-info-no-zoom thumb-info-no-borders thumb-info-blog-custom">
                          <span class="thumb-info-side-image-wrapper p-none">
                            <img src="media/1/blog_restaurant_5.jpg" class="img-responsive" alt="" style="width: 165px;">
                          </span>
                          <span class="thumb-info-caption">
                            <span class="thumb-info-caption-text">
                              <h4 class="text-semibold mb-none mt-xs heading-dark">Lorem ipsum dolor sit</h4>
                              <p class="font-size-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Lorem ipsum dolor sit...</p>
                              <a class="mt-md" href="demo-restaurant-press-detail.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                            </span>
                          </span>
                        </span>
                      </div>
                      <div>
                        <span class="thumb-info thumb-info-side-image thumb-info-no-zoom thumb-info-no-borders thumb-info-blog-custom mb-xl">
                          <span class="thumb-info-side-image-wrapper p-none">
                            <img src="media/1/blog_restaurant_5.jpg" class="img-responsive" alt="" style="width: 165px;">
                          </span>
                          <span class="thumb-info-caption">
                            <span class="thumb-info-caption-text">
                              <h4 class="text-semibold mb-none mt-xs heading-dark">Lorem ipsum dolor sit</h4>
                              <p class="font-size-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Lorem ipsum dolor sit...</p>
                              <a class="mt-md" href="demo-restaurant-press-detail.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                            </span>
                          </span>
                        </span>

                        <span class="thumb-info thumb-info-side-image thumb-info-no-zoom thumb-info-no-borders thumb-info-blog-custom">
                          <span class="thumb-info-side-image-wrapper p-none">
                            <img src="media/1/blog_restaurant_4.jpg" class="img-responsive" alt="" style="width: 165px;">
                          </span>
                          <span class="thumb-info-caption">
                            <span class="thumb-info-caption-text">
                              <h4 class="text-semibold mb-none mt-xs heading-dark">Lorem ipsum dolor sit</h4>
                              <p class="font-size-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Lorem ipsum dolor sit...</p>
                              <a class="mt-md" href="demo-restaurant-press-detail.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                            </span>
                          </span>
                        </span>
                      </div>
                      <div>
                        <span class="thumb-info thumb-info-side-image thumb-info-no-zoom thumb-info-no-borders thumb-info-blog-custom mb-xl">
                          <span class="thumb-info-side-image-wrapper p-none">
                            <img src="media/1/blog_restaurant_6.jpg" class="img-responsive" alt="" style="width: 165px;">
                          </span>
                          <span class="thumb-info-caption">
                            <span class="thumb-info-caption-text">
                              <h4 class="text-semibold mb-none mt-xs heading-dark">Lorem ipsum dolor sit</h4>
                              <p class="font-size-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Lorem ipsum dolor sit...</p>
                              <a class="mt-md" href="demo-restaurant-press-detail.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                            </span>
                          </span>
                        </span>

                        <span class="thumb-info thumb-info-side-image thumb-info-no-zoom thumb-info-no-borders thumb-info-blog-custom">
                          <span class="thumb-info-side-image-wrapper p-none">
                            <img src="media/1/blog_restaurant_5.jpg" class="img-responsive" alt="" style="width: 165px;">
                          </span>
                          <span class="thumb-info-caption">
                            <span class="thumb-info-caption-text">
                              <h4 class="text-semibold mb-none mt-xs heading-dark">Lorem ipsum dolor sit</h4>
                              <p class="font-size-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Lorem ipsum dolor sit...</p>
                              <a class="mt-md" href="demo-restaurant-press-detail.html">Read More <i class="fa fa-long-arrow-right"></i></a>
                            </span>
                          </span>
                        </span>
                      </div>
                    </div>

                  </div>
                </div>
              </section>

