        <div class="slider-container rev_slider_wrapper" style="height: 650px;">
          <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options='{"delay": 9000, "gridwidth": 1170, "gridheight": 650, "disableProgressBar": "on"}'>
            <ul>
              <li data-transition="fade">
                <img src="media/1/slide_restaurant_1.jpg"  
                  alt=""
                  data-bgposition="center center" 
                  data-bgfit="cover" 
                  data-bgrepeat="no-repeat"
                  class="rev-slidebg">

                <div class="tp-caption top-label alternative-font"
                  data-x="left" data-hoffset="25"
                  data-y="center" data-voffset="-55"
                  data-start="500"
                  style="z-index: 5"
                  data-transform_in="y:[-300%];opacity:0;s:500;">WELCOME TO</div>

                <div class="tp-caption"
                  data-x="left" data-hoffset="185"
                  data-y="center" data-voffset="-55"
                  data-start="1000"
                  style="z-index: 5"
                  data-transform_in="x:[300%];opacity:0;s:500;"><img src="media/1/slide_title_border.png" alt=""></div>

                <div class="tp-caption main-label"
                  data-x="left" data-hoffset="25"
                  data-y="center" data-voffset="-5"
                  data-start="1500"
                  data-whitespace="nowrap"             
                  data-transform_in="y:[100%];s:500;"
                  data-transform_out="opacity:0;s:500;"
                  style="z-index: 5"
                  data-mask_in="x:0px;y:0px;">THE PORTO</div>

                <div class="tp-caption bottom-label"
                  data-x="left" data-hoffset="25"
                  data-y="center" data-voffset="40"
                  data-start="2000"
                  style="z-index: 5"
                  data-transform_in="y:[100%];opacity:0;s:500;" style="font-size: 1.2em;">The best place to eat in downtown Porto!</div>

                <a class="tp-caption btn btn-md btn-primary"
                  data-hash
                  data-hash-offset="85"
                  href="#menu"
                  data-x="left" data-hoffset="25"
                  data-y="center" data-voffset="85"
                  data-start="2200"
                  data-whitespace="nowrap"             
                  data-transform_in="y:[100%];s:500;"
                  data-transform_out="opacity:0;s:500;"
                  style="z-index: 5"
                  data-mask_in="x:0px;y:0px;">Our Menu <i class="fa fa-long-arrow-down"></i></a>

              </li>
              <li data-transition="fade">
                <img src="media/1/slide_restaurant_2.jpg"  
                  alt=""
                  data-bgposition="center center" 
                  data-bgfit="cover" 
                  data-bgrepeat="no-repeat"
                  class="rev-slidebg">

                <div class="tp-caption top-label alternative-font"
                  data-x="left" data-hoffset="25"
                  data-y="center" data-voffset="-55"
                  data-start="500"
                  style="z-index: 5"
                  data-transform_in="y:[-300%];opacity:0;s:500;">Best ingredients, freshly prepared!</div>

                <div class="tp-caption"
                  data-x="left" data-hoffset="355"
                  data-y="center" data-voffset="-55"
                  data-start="1000"
                  style="z-index: 5"
                  data-transform_in="x:[300%];opacity:0;s:500;"><img src="media/1/slide_title_border.png" alt=""></div>

                <div class="tp-caption main-label"
                  data-x="left" data-hoffset="25"
                  data-y="center" data-voffset="-5"
                  data-start="1500"
                  data-whitespace="nowrap"             
                  data-transform_in="y:[100%];s:500;"
                  data-transform_out="opacity:0;s:500;"
                  style="z-index: 5"
                  data-mask_in="x:0px;y:0px;">DELICIOUS!!!</div>

                <div class="tp-caption bottom-label"
                  data-x="left" data-hoffset="25"
                  data-y="center" data-voffset="40"
                  data-start="2000"
                  style="z-index: 5"
                  data-transform_in="y:[100%];opacity:0;s:500;" style="font-size: 1.2em;">The best place to eat in downtown Porto!</div>

              </li>
            </ul>
          </div>
        </div>

