        <section id="menu" style="background-image: url(media/1/background_restaurant.png); background-position: 50% 100%; background-repeat: no-repeat;">
          <div class="container">
            <div class="row mt-xlg">
              <div class="col-md-12 center">
                <h4 class="mt-lg mb-sm">Special <strong>Menu</strong></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>

                <hr class="custom-divider">

                <ul class="special-menu pb-xlg">
                  <li>
                    <img src="media/1/product_14.jpg" class="img-responsive" alt="">
                    <h3>Monday <em>Special</em></h3>
                    <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna.</span></p>
                    <strong class="special-menu-price text-color-dark">$29</strong>
                  </li>
                  <li>
                    <img src="media/1/product_15.jpg" class="img-responsive" alt="">
                    <h3>Tuesday <em>Special</em></h3>
                    <p><span>Lorem ipsum dolor sit amet. Donec eu pulvinar magna.</span></p>
                    <strong class="special-menu-price text-color-dark">$39</strong>
                  </li>
                  <li>
                    <img src="media/1/product_16.jpg" class="img-responsive" alt="">
                    <h3>Wednesday <em>Special</em></h3>
                    <p><span>Lorem ipsum dolor sit amet.</span></p>
                    <strong class="special-menu-price text-color-dark">$24</strong>
                  </li>
                  <li>
                    <img src="media/1/product_17.jpg" class="img-responsive" alt="">
                    <h3>Thursday <em>Special</em></h3>
                    <p><span>Lorem ipsum dolor sit amet magna.</span></p>
                    <strong class="special-menu-price text-color-dark">$39</strong>
                  </li>
                  <li>
                    <img src="media/1/product_18.jpg" class="img-responsive" alt="">
                    <h3>Friday <em>Special</em></h3>
                    <p><span>Lorem ipsum dolor sit amet adipiscing elit. Donec eu pulvinar magna.</span></p>
                    <strong class="special-menu-price text-color-dark">$59</strong>
                  </li>
                </ul>

              </div>
            </div>
            <div class="row mb-xlg mt-xl">
              <div class="col-md-12 center">
                <a href="demo-restaurant-menu.html" class="btn btn-primary btn-lg mt-xlg mb-xlg">Full Menu</a>
              </div>
            </div>
          </div>
        </section>

