        <section class="section section-background section-center" style="background-image: url(media/1/parallax_restaurant.jpg); background-position: 50% 100%; min-height: 615px;">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <hr class="custom-divider">
                <div class="owl-carousel owl-theme nav-bottom rounded-nav" data-plugin-options='{"items": 1, "loop": false}'>
                  <div>
                    <div class="col-md-12">
                      <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                        <blockquote>
                          <p>The best place in town! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce ante tellus, convallis non consectetur sed, pharetra nec ex.</p>
                        </blockquote>
                        <div class="testimonial-author">
                          <p><strong>John Smith</strong><span>Porto Magazine</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="col-md-12">
                      <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                        <blockquote>
                          <p>Best place to eat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </blockquote>
                        <div class="testimonial-author">
                          <p><strong>John Smith</strong><span>Porto Magazine</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-md-offset-2">

              </div>
            </div>
          </div>
        </section>

